.descuentos{
    background: #1cd1b0;
    width: 1024px;
    height: 38px;
    left: 0%;
    top: 0%;
}
h1{
    color: black;
    background: #00669F;
    font-style: normal;
    font-weight: normal ;
    box-shadow: rgba(0, 0, 0, 0.25);
}
div{
    background: #f3f3f3;
  ;

}

footer{
    background: #00669F;
}